// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options
@font-face
  font-family "kapur"
  src url('../font/KGBlankSpaceSketch.ttf')
@font-face
  font-family 'kapur2'
  src url('../font/KGBlankSpaceSolid.ttf') 
@font-face
  font-family 'kapur3'
  src url('../font/PPETRIAL.ttf')

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes


body
	background #178342

.back
	background-color #178342
	color #FFFFFF
	text-align justify

.judul
  font 34px/34px kapur
  text-align center

.judul2
  font 20px/20px kapur2
  text-align center

.isi
	font-family kapur3
	margin auto
	text-align justify
	font-size 18px
.isi img
  width 100%
  padding-bottom 10px
  margin auto
.judul3
	font-size 50px
	font-family kapur
	text-align center