// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes
body
	background #464646;
.back
	padding-top 150px;
	background-color #464646;
	color #FFFFFF;
	width 1000px;
	margin -240px 0px 0px -500px;
	padding 15px;
	text-align end;
.judul
	font-size 34px;
	
.judul2
	font-size 20px;
.isi 
	text-align justify;
	font-size 16px;	
.isi img 
	margin-left 150px;
	margin-right 150px;
