doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title FullAfor
    script(src='src/bespoke-fx.js')
      
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.back
        .judul Cara Berhitung Yang Tidak di Ajarkan di Sekolah
        br
        ul
          li
          li
            .isi
              img(src='images/0.jpg')
      section.back(data-bespoke-fx-transition='flip')
        .judul2 1. Menggunakan jarimu untuk menghitung perkalian 6,7,8,9.
        br
        ul
          li
          li
            .isi
              img(src='images/1z.jpg')
      section.back
        .judul2 Ex . . .
        ul
          li
          li
            .isi
              | Tentukan dahulu mulai dari jari kelingking menjadi nomor 6 sampai ke ibu jari adalah nomor 10
          li
            .isi
              img(src='images/1.a.png')
      section.back
        .judul2 Con . . .
        br
        ul
          li
          li
            .isi contoh perkalian 7x8
          li
            .isi
              img(src='images/1.b.png')
      section.back
        .judul2 Con . . .
        br
        ul
          li
          li
            .isi
              | Sesuakan angka dengan jari
          li
            .isi
              img(src='images/1.c.png')
      section.back
        .judul2 Con . . .
        br
        ul
          li
          li
            .isi
              | Kalikan jari bagian atas, tambahkan jari bagian bawah, kemudian gabungkan.
          li
            .isi
              img(src='images/1.d.png')
      
      section.back
        .judul2 2. Cara menghitung dalam hati
        br
        ul
          li
          li
            .isi
              img(src='images/2a.jpg')
      section.back
        .judul2 3. Menghitung perkalian (belasan/puluhan) x 11
        br
        ul
          li
          li
            .isi
              img(src='images/3a.gif')
      section.back
        .judul2 5. Ex . . .
        br
        ul
          li
          li
            .isi
              img(src='images/3b.png')
      section.back
        .judul2 5. Pertambahan dan Perkalian dari Penyebut dan Pembilang1
        br
        ul
          li
            .isi
              | kita pasti akan merasa kesulitan dalam menghitung hasil pengurangan atau penjumlahan dalam bentuk pecahan. ditambah dengan nilai penyebut yang berbedan tentunya akan membuat perhitungan semakin sulit. disini akan dijelaskan mengenai cara termudah dalam menyelesaikan pengurangan atau penjumlahan dalam bentuk pecahan.
              br
          li
            .isi
              | cara termudahnya yaitu dengan perkaliaan silang. Sebagai contoh penjumlahan 3/4 + 2/5, kita dapat mengalikan penyebut dengan pembilang yang berseberangan ( (3 x 5) dan (2 x 4)). kemudian hasil pengkalian kedua pasang bilangan tersebut di jumlahkan dan itu merupakan hasil penjumlahan untuk di bagian pembilang.
          li
            .isi
              | bagaimana untuk penyebut?
          li
            .isi
              | untuk hasil penyebut, kalian hanya mengkalikan penyebut masing-masing pecahan. maka penjumlahan tersebut telah selesai di pecahkan. dan jika pecahan tersebut masih terlalu besar, kalian dapat mengkecilkannya seperti hal pada umumnya.
      section.back
        .judul2 6. Perhitungan Pengkuadratan
        br
        ul
          li
            .isi 
              | Pengkuadratan Dua Angka Bilangan yang di akhiri dengan satu
          li
            .isi
              | Langkah-langkahnya:
              br
              |                     a) Kuadratnya angka bulatnya
              br
              |                     b) Jumlahkan angka tersebut dengan angka bulatnya
              br
              |                     c) Hasil akhirnya adalah jumlah untuk a) dan b)
              br
              |                     contoh
              br
              |                      x= 81^2??
              br
              |                     a) 80^2 = 6400
              br
              |                     b) 81 + 80 = 161 
              br
              |                     c) hasil : 6400 + 161 = 6561
              br
      section.back
        .judul2 Con.....
        br
        ul
          li
            .isi Pengkuadratan Dua Angka Bilangan yang dimulai dengan angka lima
          li
            .isi
              | Langkah-langkahnya:
              br
              |                      a) Tambahkan Bilangan 25 dengan satuannya
              br
              |                     b) Kuadratan bilangan satuaannya (Khusus angka 1, 2,dan 3, hasilnya dituliskan 01, 04 dan 09)
              br
              |                     c) Hasil akhirnya adalah gabungan a) dan b)
              br
              br
              |                    contoh  x= 53^2??
              br
              |                     a) 25 + 3 = 28
              br
              |                     b) 3^2 = 09 
              br
              |                     c) hasil : 2809
              br
      section.back
        .judul2 7. Pemangkatan Puluhan
        br
        br
        ul
          li
            .isi
              | kita akan merasakan kesulitan bila memangkatkan suatu bilangan puluhan. Kita harus membutuhkan konsenterasi tinggi hingga tidak terjadi kesalahan dalam pemangkatannya. Disini akan dijelaskan begitu mudahnya cara "Pemangkatan Puluhan".
              br
          li
            .isi
              | sebagai contoh pemangkatan 58 (58 x 58).
          li
            .isi
              |  Langkah 1 :
              br
              |                     Kalikan 5 dengan 5, 5 x 5 = 25
              br
              |                     Kalikan 8 dengan 8, 8 x 8 = 64
              br
              |                     Tuliskan ke dua hasil tadi dan jadilah 2564
          li
            .isi
              |  Langkah 2 :
              br
              |                     Kalikan 5 dengan 8 = 40
              br
              |                     Gandakan hasil tersebut, 40 x 2 = 80
              br
              |                     Tambahkan 1 angka 0, jadilah 800
          li
            .isi
              |  Langah 3 :
              br
              |                     Jumlahkan 2564 dengan 800, 2564 + 800 = 3364
              br
              |                     Itulah hasilnya
              br
    script(src='build/build.js')
