doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title FullAfor
    script(src='src/bespoke-fx.js')
      
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.back
        .judul Cara Berhitung Yang Jarang di Ajarkan di Sekolah
        br
        ul
          li
          li
            .isi
              img(src='images/0.jpg')
      section.back(data-bespoke-fx-transition='flip')
        .judul2 1. Menggunakan jarimu untuk menghitung perkalian 6,7,8,9.
        br
        ul
          li
          li
            .isi
              img(src='images/1z.jpg')
      section.back
        .judul2 Ex . . .
        ul
          li
          li
            .isi
              | Tentukan dahulu mulai dari jari kelingking menjadi nomor 6 sampai ke ibu jari adalah nomor 10
          li
            .isi
              img(src='images/1.a.png')
      section.back
        .judul2 Con . . .
        br
        ul
          li
          li
            .isi contoh perkalian 7x8
          li
            .isi
              img(src='images/1.b.png')
      section.back
        .judul2 Con . . .
        br
        ul
          li
          li
            .isi
              | Sesuakan angka dengan jari
          li
            .isi
              img(src='images/1.c.png')
      section.back
        .judul2 Con . . .
        br
        ul
          li
          li
            .isi
              | Kalikan jari bagian atas, tambahkan jari bagian bawah, kemudian gabungkan.
          li
            .isi
              img(src='images/1.d.png')
      
      section.back
        .judul2 2. Cara menghitung dalam hati
        br
        ul
          li
          li
            .isi
              img(src='images/2a.jpg')
      section.back
        .judul2 3. Menghitung perkalian (belasan/puluhan) x 11
        br
        ul
          li
          li
            .isi
              img(src='images/3a.gif')
      section.back
        .judul2 Ex . . .
        br
        ul
          li
          li
            .isi
              img(src='images/3b.png')
      section.back
        .judul2 4. Pertambahan dan pengurangan dalam Pecahan.
        br
        ul
          li            
          li
            img(src='images/4a.png')
      section.back
        .judul2 con . . .
        br
        ul
          li
          li
            .isi
              img(src='images/4b.jpg')
          li
            .isi
              img(src='images/4c.jpg')
      section.back
        .judul2 Kelipatan 9 sangatlah teratur
        br
        ul
          li
          li
            .isi
              img(src='images/5a.png')
      section.back
        .judul2 Perkalian menggunakan garis - garis
        br
        ul
          li
          li
            video(width='320', height='240', autoplay='”autoplay”', controls='”controls”')
              source(src='images/6a.mp4', type='video/mp4')
    script(src='build/build.js')
